@import "../../scss/Variables.scss";

@keyframes circle {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: rotate(360deg) translateY(-50%) scale(3);
        opacity: 1;
    }
}

@keyframes token-spin {
    0% {
        transform: rotate(0deg) scale(0);
    }

    50% {
        transform: rotate(180deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(0);
    }
}

@keyframes wrap {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loader {
    position: relative;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: $bg-dark;
    animation: wrap 1s;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    border-radius: 50%;
    transition: 0.3s all;
    opacity: 1;
    animation-fill-mode: forwards;

    &::before {
        animation: circle 1s 2 alternate;
        position: absolute;
        content: "";
        width: 5rem;
        height: 5rem;
        background: rgb(234, 245, 176);
        z-index: 12;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    img {
        animation-fill-mode: forwards;
        animation-name: token-spin;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        display: block;
    }
}